@use "../utils/_index.scss" as *;

.v-select {
    .v-input__slot {
        background: #284077 !important;
    }
    .v-select__selections {
        color: $c-white !important;
        font-size: 14px;

        @include sm {
            font-size: 12px !important;
        }
    }
    .v-label {
        color: $c-white;
    }
    .v-icon {
        font-size: 18px;
    }
}