@use "../utils/_index.scss" as *;

.v-data-table {
    color: $c-white !important;

    &__divider {
        border: 1px solid $secondary-color !important;
    }

    &-header {
        background: $primary-gradient;
        th {
            border-top: 1px solid $secondary-color !important;
        }
    }

    th {
        color: $c-white !important;
    }

    .v-data-footer {
        .v-icon {
            color: $c-white;
        }
        .v-btn--disabled {
            .v-icon {
                color: rgba(255,255,255,0.26) !important;
            }
        }
    }
}