@use "../utils/_index.scss" as *;

.v-tabs {

    .theme--light {
        background: transparent !important;
    }

    .v-tab {
        box-shadow: $box-shadow;
        color: $primary-text !important;
        border-radius: $border-radius;
        text-transform: none;
        @include transition(0.2s);
    }
}