@use "../utils/_index.scss" as *;

.v-text-field {
    margin-top: 0;
    .v-input__slot {
        background: #284077 !important;

        .v-text-field__slot {
            textarea {
                color: $c-white;
            }
        }
    }
    .v-label {
        color: $c-white;
        font-size: 14px;

        @include sm {
            font-size: 12px !important;
        }
    }
    input {
        color: $c-white !important;
    }
    .v-icon {
        font-size: 18px;

        @include sm {
            font-size: 12px;
        }
    }
}