$header-color: #13234c;
$navbar-color: #192e65;
$primary-color: #192e65;
$secondary-color: #3a9df8;
$page-color: #192e65;
$background: #13234c;

$header-text: #ffffff;
$header-text: #ffffff;
$navbar-text: #ffffff;
$primary-text: #ffffff;
$secondary-text: #ffffff;
$page-text: #ffffff;
$background-text: #ffffff;

$c-white: #ffffff;
$c-black: #000000;

$primary-gradient: linear-gradient(to bottom, #3A9DF8 0%, #115FA7 100%);
$secondary-gradient: linear-gradient(to bottom, #4879FC 0%, #2849A1 100%);
$tertiart-gradient: linear-gradient(to bottom, #F52A34 0%, #A11C1F 100%);