$body-font-family: 'Poppins', sans-serif;

/* Textfield and Input */
$input-font-size: 12px;
$text-field-dense-padding: 7px 0 7px;
$text-field-solo-dense-control-min-height: 35px;
$text-field-solo-label-top: calc(50% - 10px);
$text-field-solo-control-min-height: 44px;
$text-field-border-radius: 10px;

/* Button */
$btn-text-transform: normal;
$btn-sizes: (
    'small': 30,
);

/* Progress Linear */
$progress-linear-border-radius: 25px;

/* Chip */
$icon-sizes: (
    (
        'small': (
            'font-size': 11,
            'height': 18,
        ),
    )
);  

/* Pagination */
$pagination-item-min-width: 30px;
$pagination-item-height: 30px;
$pagination-navigation-width: 29px;
$pagination-navigation-height: 29px;

/* Colors */
$material-light: (
    (
        'table': (
            'hover': rgba(255,255,255,0.1),
        ),
        'icons': (
            'active': #ffffff,
        ),
    )
);

/* Table */
$data-table-regular-header-font-size: 11px;
$data-table-regular-row-font-size: 11px;
$progress-circular-underlay-stroke: #284077;
$data-table-regular-header-height: 32px;
$data-table-regular-row-height: 32px;

/* Expansion */
$expansion-panel-content-padding: 0 15px 15px