@use "../utils/_index.scss" as *;

.transaction {
    &__deposit {
        .deposit-form {
            @include page-form(20px 25px 25px);
            
            .form-title {
                @include page-header(600, $page-text, 15px)
            }

            .form-deposit {
                .form-group {
                    margin-bottom: 20px;

                    .label-textfield {
                        font-size: 14px;
                        font-weight: 400;
                    }

                    &.show-bank {
                        .bank-item {
                            @include flex-item(center);

                            .bank-img {
                                img {
                                    @include image-fit(130px, 60px, contain);
                                }
                            }

                            .bank-account {
                                font-size: 13px;
                                ul {
                                    list-style: none;
                                    li {
                                        margin-bottom: 3px;
                                    }
                                }
                            }
                        }
                    }

                    .deposit-conversion {
                        @include flex-item(flex-start);

                        .v-icon {
                            color: $page-text;
                        }
                    }
                }

                .deposit-button {
                    max-width: 350px;
                    margin: 30px auto 0;
                    .v-btn {
                        background: $primary-gradient !important;
                        color: $c-white;
                    }
                }
            }
        }

        .bank-swiper {
            overflow: hidden;
            height: 610px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 10px;

            .swiper-slide {
                height: auto;
            }

            .swiper-item {
                @include page-form(15px 10px);
                max-width: 340px;
                margin-bottom: 20px;
                max-height: 80px;
                position: relative;

                .v-chip {
                    color: $c-white;
                    font-weight: 500;
                    position: absolute;
                    top: -8px;
                    left: 50%;
                    transform: translateX(-50%);
                    text-transform: uppercase;

                    &.online {
                        background: $primary-gradient !important;
                    }
                    &.offline {
                        background: $tertiary-gradient !important;
                    }
                }

                .bank-info {
                    @include flex-item(flex-start);
                    height: 100%;

                    .bank-img {
                        padding: 10px 15px;
                        border: 1px solid rgba(255,255,255,0.2);
                        box-shadow: $box-shadow;
                        margin: 0 15px 0 20px;
                        @include flex-item(center);
                        img {
                            @include image-fit(90px, 35px, contain);
                        }
                    }

                    .minimum {
                        font-weight: 500;
                    }
                }
            }
        }

        .deposit-info {
            @include page-form(0);
            overflow: hidden;

            .info-header {
                @include flex-item(flex-start);
                background: $secondary-color;
                padding: 15px 25px;

                .v-icon {
                    color: $secondary-text;
                    margin-right: 10px;
                }

                h3 {
                    @include page-header(500, $secondary-text, 0);
                }
            }

            .info-content {
                padding: 20px 25px;
            }
        }

        .deposit-history {
            @include page-form(25px 25px);

            .history-header {
                @include flex-item(flex-start);
                margin-bottom: 20px;
                
                .delete {
                    background: $tertiary-gradient !important;
                    color: $c-white;
                    margin-left: auto;
                }
            }
        }
    }
}