@use "../utils/_index.scss" as *;

.game-frame {
    @include page-padding();
    min-height: 80vh;

    &__header {
        @include page-form(15px 20px);
        @include flex-item(flex-start);
        max-width: 1300px;
        margin: 0 auto 20px;
        
        .header-settings {
            margin-left: auto;
            display: flex;
            align-items: center;

            .settings-fullscreen {
                .v-btn {
                    background: rgba(255,255,255,0.1);
                    color: $secondary-text;
                    margin-right: 15px;

                    &.active {
                        background: $secondary-color;
                    } 
                }
            }

            .settings-close {
                .v-btn {
                    background: rgba(#e7666a, 0.3);

                    .v-icon {
                        color: #e7666a;
                    }
                }
            }
        }
    }

    &__iframe {
        max-width: 1300px;
        height: 65vh;
        margin: auto;
        background: #131521;
        border-radius: $border-radius;
        $box-shadow: $box-shadow;
        overflow: hidden;
        position: relative;

        .iframe-loading {
            height: 100%;
            @include flex-item(center);
            
            h2 {
                font-weight: 600;
            }
        }

        &-active {
            max-width: 100%;
            height: 90vh;

            .game-balloon {
                width: 100%;
                height: 90vh;
                top: 110px;
            }
        }
    }
}