@use "../utils/_index.scss" as *;
@import "../components/_index.scss";

.home {
    &__slider {
        .v-carousel {
            height: 500px !important;

            .slider-jackpot {
                position: absolute;
                top: 50%;
                right: 10%;
                transform: translateY(-50%);
                background: #2849a1 url('~@/assets/slider-img/bg-jackpot.png');
                background-position: right;
                background-repeat: no-repeat;
                background-size: contain;
                border-radius: $border-radius;
                padding: 20px;
                min-width: 400px;
                min-height: 200px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                h3 {
                    color: $secondary-color;
                    font-size: 25px;
                }

                h1 {
                    font-size: 38px;
                }
            }
        }
    }
    &__games {
        padding-top: 40px;
        .game-type {
            background: $primary-color;
            border-radius: $border-radius;
            padding: 15px;
            display: grid;
            grid-gap: 15px;
            grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
            box-shadow: $box-shadow;


            a {
                color: $c-white;
                text-decoration: none;
            }

            .game-item {
                position: relative;
                min-height: 65px;
                border-radius: $border-radius;
                overflow: hidden;

                .game-title {
                    padding: 8px 15px;
                    font-weight: 500;
                }

                .game-icon {
                    width: 115px;
                    height: 75px;
                    object-fit: contain;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }

                &.popular {
                    background: #69e25e;
                }

                &.casino {
                    background: #E2AD5E;
                }

                &.sportsbook {
                    background: #615EE2;
                }

                &.lottery {
                    background: #DFE25E;
                }

                &.slots {
                    background: #E25E5E;
                }

                &:hover {
                    filter: grayscale(100%);
                }
            }

            .provider-select {
                align-self: center;

                .v-select {
                    .v-input__control {
                        border-radius: $border-radius;
                    }
                    .v-input__control {
                        min-height: 65px !important;
                    }
                }
            }
        }
        .game-list {
            margin: 30px 0 20px;
            padding: 20px 25px;
            background: $primary-color;
            border-radius: $border-radius;
            box-shadow: $box-shadow;
            
            .list-title {
                display: flex;
                align-items: center;
                flex-wrap: wrap;

                .list-search {
                    margin-left: auto;
                    width: 250px;

                    .v-text-field {
                        .v-input__slot {
                            border-radius: $border-radius;
                            min-width: 150px;
                        }
                    }
                }
            }

            .list-grid {
                display: grid;
                grid-gap: 15px;
                grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
                margin-top: 25px;
                .game-holder {
                    text-align: center;
                    .game-img {
                        img {
                            border-radius: $border-radius;
                            height: 145px;
                            width: 100%;
                            object-fit: contain;
                        }
                    }
                }
            }
        }
    }
}