@use "../utils/_index.scss" as *;
@import "../components/_index.scss";

.home {
    &__slider {
        .v-carousel {
            height: 500px !important;

            .slider-jackpot {
                position: absolute;
                top: 50%;
                right: 10%;
                transform: translateY(-50%);
                background: #2849a1 url('~@/assets/img/slider-img/bg-jackpot.png');
                background-position: right;
                background-repeat: no-repeat;
                background-size: contain;
                border-radius: $border-radius;
                padding: 20px;
                min-width: 400px;
                min-height: 200px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                h3 {
                    color: $secondary-color;
                    font-size: 25px;
                }

                h1 {
                    font-size: 38px;
                }
            }
        }
    }
    &__games {
        padding-top: 40px;

        .game-type {
            background: $primary-color;
            border-radius: $border-radius;
            padding: 15px;
            display: grid;
            grid-gap: 15px;
            grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
            box-shadow: $box-shadow;

            a {
                color: $c-white;
                text-decoration: none;
            }

            .game-item {
                position: relative;
                min-height: 65px;
                border-radius: $border-radius;
                overflow: hidden;
                @include transition(0.15s);

                .game-title {
                    padding: 8px 15px;
                    font-weight: 500;
                }

                .game-icon {
                    width: 115px;
                    height: 75px;
                    object-fit: contain;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }

                &.popular {
                    background: #69e25e;
                }

                &.casino {
                    background: #E2AD5E;
                }

                &.sportsbook {
                    background: #615EE2;
                }

                &.lottery {
                    background: #DFE25E;
                }

                &.slots {
                    background: #E25E5E;
                }

                &:hover {
                    filter: grayscale(100%);
                    @include transition(0.15s);
                }
            }

            .provider-select {
                align-self: center;

                .v-select {
                    .v-input__control {
                        min-height: 65px !important;
                    }
                }
            }
        }

        .game-list {
            margin: 30px 0 5px;
            padding: 20px 25px 30px;
            background: $primary-color;
            border-radius: $border-radius;
            box-shadow: $box-shadow;
            min-height: 560px;
            
            .list-title {
                display: flex;
                align-items: center;
                flex-wrap: wrap;

                h2 {
                    color: $primary-text;
                    font-weight: 500;
                }

                .list-search {
                    margin-left: auto;
                    min-width: 200px;
                }
            }

            .list-grid {
                display: grid;
                grid-gap: 15px;
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                margin-top: 25px;

                .game-holder {
                    text-align: center;
                    background: rgba(0,0,0,0.3);
                    border-radius: $border-radius;
                    border: 1px solid rgba(255,255,255,0.15);
                    @include transition(0.15s);

                    a {
                        text-decoration: none;
                        color: $primary-text;
                    }
                    
                    .game-img {
                        padding: 17px 7px 3px;
                        img {
                            @include image-fit(100%, 150px);
                            @include transition(0.15s);
                        }
                    }

                    .game-title {
                        padding: 0 20px 12px;
                        font-weight: 500;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        @include transition(0.15s);
                    }

                    &:hover {
                        @include transition(0.15s);
                        border: 1px solid rgba(255,255,255,0.25);
                        box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.4);

                        img {
                            filter: grayscale(100%);
                            @include transition(0.15s);
                        }

                        .game-title {
                            color: $secondary-color;
                            @include transition(0.15s);
                        }
                    }
                }
            }

            .list-pagination {
                margin-top: 25px;
            }
        }
    }
    &__service {
        .service-holder {
            border-top: 1px solid $background-text;

            .service-item {
                margin-top: 30px;
                min-height: 320px;

                .service-header {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    margin-bottom: 30px;

                    img {
                        margin-right: 10px;
                        width: 40px;
                        height: 40px;
                        object-fit: contain;
                    }
    
                    h2 {
                        font-weight: 500;
                    }
                }

                &.service-meter {
                    border-right: 1px solid $background-text;
                    padding-right: 60px;

                    .meter-item {
                        .meter-content {
                            @include flex-item(flex-start);
                            margin-bottom: 10px;

                            .meter-time {
                                margin-left: auto;
                                text-align: center;
                                border-radius: $border-radius;
                                background: $primary-gradient;
                                padding: 10px 5px;
                                min-width: 66px;
                            }

                            h3, h5 {
                                font-weight: 500;
                            }
                        }
                        .meter-progress {
                            .v-progress-linear {
                                .v-progress-linear__background {
                                    &.primary {
                                        background: transparent;
                                        border: 0;
                                        border-radius: 50px;
                                    }
                                }
                                .v-progress-linear__buffer {
                                    border-radius: 50px;
                                    border: 1px solid $secondary-color;
                                    background: $c-white !important;
                                }
                                .v-progress-linear__determinate {
                                    &.primary {
                                        background: $primary-gradient !important;
                                        border-radius: 50px;
                                    }
                                }
                            }
                        }
                    }
                }
                
                &.payment {
                    border-right: 1px solid $background-text;
                    padding-right: 25px;

                    .payment-swiper {
                        height: 250px;
                        margin-left: auto;
                        margin-right: auto;
                        padding-top: 10px;
                
                        .swiper-slide {
                            height: 40px;
                            background: $primary-color;
                            color: $primary-text;
                            border: 1px solid rgba(255,255,255,0.1);
                            border-radius: $border-radius;
                            text-align: center;
                            padding: 8px 0;
                            position: relative;
                            margin-bottom: 10px;
                            width: 165px !important;
                            @include transition(0.15s);

                            .v-chip {
                                color: $c-white;
                                font-weight: 500;
                                position: absolute;
                                top: -8px;
                                left: 50%;
                                transform: translateX(-50%);

                                &.online {
                                    background: $primary-gradient;
                                }
                                &.offline {
                                    background: $tertiary-gradient;
                                }
                            }

                            img {
                                @include image-fit(100%, 25px);
                            }

                            &:hover {
                                cursor: pointer;
                                border: 1px solid rgba(255,255,255,0.3);
                                box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.4);
                                @include transition(0.15s);
                            }
                        }

                        .swiper-pagination {
                            bottom: 0;

                            .swiper-pagination-bullet-active {
                                background: $c-white;
                            }
                            
                            .swiper-pagination-bullet {
                                background: $c-white;
                            }
                        }
                    }
                }

                &.help-support {
                    padding-left: 40px;
                    a {
                        text-decoration: none;
                        color: $background-text;
                    }

                    .support-item {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        margin-bottom: 15px;
                        padding: 10px 15px;
                        background: rgba(0,0,0,0.2);
                        border-radius: $border-radius;
                        width: 280px;
                        border: 1px solid rgba(255,255,255,0.1);
                        @include transition(0.15s);

                        img {
                            @include image-fit(30px, 30px);
                        }

                        h4 {
                            margin-left: 15px;
                            font-weight: 500;
                        }

                        &:hover {
                            border: 1px solid rgba(255,255,255,0.3);
                            box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.4);
                            @include transition(0.15s);
                        }
                    }
                }
            }
        }
    }
    &__seo {
        padding: 20px 0;

        .seo-content {
            text-align: justify;
        }
    }
}