@use "../utils/_index.scss" as *;

.news {
    @include page-padding(); 

    &__header {
        text-align: center;
        h1 {
            @include page-header(600, $background-text, 35px);
        }
    }

    &__list {
        a {
            text-decoration: none;
        }

        .news-item {
            @include page-form(0);
            overflow: hidden;

            .news-img {
                display: flex;
                position: relative;

                img {
                    width: 100%;
                    @include transition(0.2s);
                }

                .show-now {
                    font-size: 15px;
                    padding: 13px 5px;
                    text-align: center;
                    color: $secondary-text;
                    background: rgba($secondary-color, 0.5);
                    box-shadow: $box-shadow;
                    position: absolute;
                    width: 100%;
                    top: 0;
                    transform: translateY(0%);
                    opacity: 0;
                    @include transition(0.2s);
                }
            }

            .news-info {
                padding: 12px 13px 0;
                white-space: nowrap;
                

                .news-title {
                    font-weight: 500;
                    @include text-elipsis();
                }

                p {
                    font-size: 14px;
                    @include text-elipsis();
                }
            }

            .news-button {
                padding: 0 13px 18px;
                text-align: center;

                .v-btn {
                    background: $secondary-gradient;
                    color: $c-white;
                }
            }

            &:hover {
                color: #ffe600;
                @include transition(0.15s);

                img {
                    filter: blur(2px) grayscale(100%);
                    @include transition(0.2s);
                }

                .show-now {
                    top: 50%;
                    transform: translateY(-50%);
                    opacity: 1;
                    @include transition(0.2s);
                }
            }
        }
    }
}