@use "../utils/_index.scss" as *;
@import "../components/_index.scss";

.promotions {
    @include page-padding(); 

    &__header {
        text-align: center;
        h1 {
            @include page-header(600, $background-text, 35px);
        }
    }

    &__filter {
        @include page-form(0 10px);
        @include flex-item(flex-start);
        margin-bottom: 35px;

        .filter-tab {
            @include flex-item(flex-start);
            flex-wrap: initial;
            white-space: nowrap;
            overflow: hidden;

            .filter-item {
                margin: 0 15px;
                padding: 20px 0;
                position: relative;

                a {
                    text-decoration: none;
                    color: $secondary-text;
                    font-weight: 500;
                    font-size: 15px;
                    @include transition(0.15s);
                }

                &:after {
                    content: '';
                    width: 100%;
                    height: 2px;
                    background: #ffe600;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    transform: scale(0);
                    @include transition(0.15s);
                }

                &:hover {
                    a {
                        color: #ffe600;
                        @include transition(0.15s);
                    }

                    &:after {
                        transform: scale(1);
                        @include transition(0.15s);
                    }
                }
            }

            
        }

        .filter-search {
            margin-left: auto;
        }
    }

    &__list {
        a {
            text-decoration: none;
        }

        .promo-item {
            @include page-form(0);
            overflow: hidden;

            .promo-img {
                display: flex;
                position: relative;

                img {
                    @include image-fit(100%, 250px, cover);
                    @include transition(0.2s);
                }

                .play-now {
                    font-size: 15px;
                    padding: 13px 5px;
                    text-align: center;
                    color: $secondary-text;
                    background: rgba($secondary-color, 0.5);
                    box-shadow: $box-shadow;
                    position: absolute;
                    width: 100%;
                    top: 0;
                    transform: translateY(0%);
                    opacity: 0;
                    @include transition(0.2s);
                }
            }

            .promo-title {
                text-align: center;
                font-weight: 500;
                padding: 12px 13px;
                @include text-elipsis();
            }

            &:hover {
                .promo-title {
                    color: #ffe600;
                }
                
                img {
                    filter: blur(2px) grayscale(100%);
                    @include transition(0.2s);
                }

                .play-now {
                    top: 50%;
                    transform: translateY(-50%);
                    opacity: 1;
                    @include transition(0.2s);
                }
            }
        }
    }
}