@use "../../utils/_index.scss" as *;

.game-mobile {
    @include page-padding();

    &__wrapper {
        @include page-form(15px 5px);
        min-height: 600px;

        .wrapper-filter {
            display: flex;
            align-items: center;
            padding: 0 5px;

            .filter-select {
                max-width: 150px;
            }

            .filter-search {
                margin-left: auto;
                max-width: 150px;
            }
        }

        .game-list {
            margin-top: 15px;
            display: grid;
            grid-gap: 5px;
            grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));

            .game-item {
                text-align: center;
                background: rgba(0,0,0,0.3);
                border-radius: $border-radius;
                border: 1px solid rgba(255,255,255,0.15);

                a {
                    text-decoration: none;
                    color: $primary-text;
                }

                .game-img {
                    padding: 10px 5px 0;
                    img {
                        @include image-fit(100%, 85px, contain);
                    }
                }

                .game-title {
                    padding: 0 10px 8px;
                    font-weight: 500;
                    font-size: 11px;
                    @include text-elipsis();
                }
            }
        }
    }
}