@use "../utils/_index.scss" as *;
@import "../components/_index.scss";

.header {
    z-index: 999;
    position: sticky;
    top: -1px;
    &__top {
        background: $header-color;
        color: $header-text;
        font-size: 13px;

        .header-marquee {
            display: flex;
            align-items: center;

            .v-icon {
                color: $secondary-color;
                font-size: 20px;
                margin-right: 10px;
            }
        }

        .header-form {
            @include flex-item(flex-end); 

            .form-group {
                display: flex;
                align-items: center;
                margin-right: 20px;
            }
            .form-button {
                .v-btn {
                    min-width: 80px;
                    background: $secondary-gradient;
                    color: $c-white;
                }
                .login {
                    background: $secondary-gradient;
                    color: $c-white;
                }
                .register {
                    background: $primary-gradient;
                    color: $c-white;
                }
                .logout {
                    background: $tertiary-gradient;
                    color: $c-white;
                }
            }
        }

        .header-forgot {
            font-size: 11px;
            font-style: italic;
            text-align: right;
            margin-top: 2px;

            a {
                text-decoration: none;
                color: $header-text !important;
            }
        }
    }
}