@use "../utils/_index.scss" as *;
@import "../components/_index.scss";

.header {
    background: $header-color;
    color: $header-text;
    font-size: 13px;

    &-marquee {
        display: flex;
        align-items: center;

        .v-icon {
            color: $secondary-color;
            font-size: 20px;
            margin-right: 10px;
        }
    }

    &-form {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .form-group {
            display: flex;
            align-items: center;
            margin-right: 20px;
        }
        .form-button {
            .v-btn {
                min-width: 80px;
            }
            .login {
                background: $secondary-gradient;
                color: $c-white;
            }
            .register {
                background: $primary-gradient;
                color: $c-white;
            }
        }
    }

    &-forgot {
        font-size: 11px;
        font-style: italic;
        text-align: right;
        margin-top: 5px;

        a {
            text-decoration: none;
            color: $c-white !important;
        }
    }
}