@use "../utils/index.scss" as *;

.navbar {
    z-index: 999;
    position: sticky;
    top: -1px;
    background: $navbar-color;
    box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.25);

    &__cont {
        display: flex;
        align-items: center;
        
        .navbar-logo {
            color: $secondary-color;
            font-size: 35px;
            font-weight: 600;
        }

        .navbar-menu {
            margin-left: auto;
            display: flex;
            align-items: center;

            .nav-link {
                text-decoration: none;
                color: $c-white;

                .nav-item {
                    text-align: center;
                    padding: 10px 5px 7px;
                    border-radius: 5px;
                    margin-left: 10px;
                    min-width: 90px;

                    .icon {
                        width: 40px;
                        height: 40px;
                        margin: auto;

                        img {
                            width: 100%;
                        }

                        &.inactive {
                            display: none;
                        }
                    }

                    .nav-title {
                        font-size: 13px;
                        font-weight: 500;
                    }

                    &:hover {
                        box-shadow: 0 0 10px 1px $secondary-color;

                        .icon {
                            &.inactive {
                                display: block;
                            }
                            &.active {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}